button {
  background-color: rgb(50, 50, 50);

  padding: 10px;

  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(25, 25, 25);
  transition: 0.3s;
}

.display {
  background-color: rgb(25, 25, 25);

  padding: 10px;
  margin-bottom: 2em;
  
  border-radius: 10px;
}